<h1><%= full_name(@patient) %></h1>


<h2>Prescriptions</h2><%= link_to "Add Prescription", new_patient_prescription_path(@patient)  %>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </thead>
  <tbody>


  </tbody>
  </tr>